<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Validation</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #fafafa;
            color: #222222;
        }

        a {
            color: #0070f3;
            text-decoration: none;
        }

        h1 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;
        }

        p {
            margin-top: 0;
            font-size: 17px;
            margin-bottom: 24px;
        }

        table td {
            vertical-align: top;
        }

        /* layout */
        .email-wrapper {
            max-width: 600px;
            margin: 0 auto;
        }

        .email-body {
            padding: 24px;
            background-color: #ffffff;
        }

        .email-footer {
            padding: 24px 24px 18px 24px;
            background-color: #f1eeee;
            color: #000000;
            border-radius: 4px;
        }

        .email-footer p {
            font-size: 16px;
        }

        .email-header {
            background-color: #0070f3;
            color: #ffff;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 12px 24px;
            border-radius: 4px;
        }

        /* buttons  */

        .button {
            display: inline-block;
            background-color: #0070f3;
            color: #ffff;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 12px 24px;
            border-radius: 4px;
        }


        @media (max-width: 600px) {
            p {
                font-size: 16px;
            }

            .email-footer p {
                font-size: 15px;
            }
        }
    </style>
</head>
<body>
<div class="email-wrapper">
    <!-- email header -->
    <div class="email-header">
        Welcome to LMS
    </div>
    <!-- email body -->
    <div class="email-body">
        <p>Hello, <%= name %></p>
        <p>Thank you for registration with our LMS application. To active your account, please use the following activation code:</p>
        <h2><%= activationCode %> </h2>
        <p>Please enter this code on the activation page within 2 minutes.</p>
        <p>If you did not register for this account, you can ignore this email.</p>
    </div>

    <!-- email footer  -->
    <div class="email-footer">
        <p>If you have any questions, please don't hesitate to contact us.
            <a href="roy.pallabtushar2234@gmail.com">support.lms.com</a></p>
    </div>

</div>
</body>
</html>
